streamlit
qdrant-client
llama-index
llama-index-core
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-llms-mistralai
llama-index-postprocessor-sentence-transformer-rerank
opencv-python
numpy
requests
easyocr
pathlib
tempfile
json
datetime
os
traceback
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-llms-mistralai
llama-index-readers-file
sentence-transformers
